

<body>


<form class="form" action="/kusi/guardar" method="post">



  <div class="form-group">
    <img src="" alt="" id="img_foto" width="100" height="100">
  </div>


 <div class="form-group">
    <label for="title">ID:</label>
    <input type="text" class="form-control" id="id" placeholder="id" name="id"><!--req.body.name-->

  </div>


  <div class="form-group">
    <label for="title">Nombre:</label>
    <input type="text" class="form-control" id="nombre" placeholder="Nombre Completo" name="nombre"><!--req.body.name-->
  </div>


  <div class="form-group">
    <label for="title">Edad:</label>
    <input type="text" class="form-control" id="edad" placeholder="Edad" name="edad"><!--req.body.name-->
  </div>


<div class="form-group">
    <label for="title">Estado:</label>
    <input type="text" class="form-control" id="estado" placeholder="Estado" name="estado"><!--req.body.name-->
  </div>


  <div class="form-group">
    <label for="title">Fecha:</label>
    <input type="text" class="form-control" id="nombre" placeholder="Fecha" name="fecha"><!--req.body.name-->
  </div>
 
 

    <button type="submit"  id="guardarUser" class="btn btn-primary">Crear</button>


</form>
